*.py[cod]
.hgignore~
.gitignore~
tox.ini~
.hg/
.tox/

example/db/example.db
example/tmp/
example/static/
builddocs/
builddocs.zip
build/
dist/
src/django_slim.egg-info
src/slim/readme.rst
example/media/foo-images/
